<core-card (events)="emittedEvents($event)" [actions]="['collapse', 'expand', 'reload', 'close']" [reloadTime]="'1000'">
    <h4 class="card-title">Messages</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 m-b-30">
                <h5>From</h5>
                <input type="date" id="dateDefault" class="form-control" placeholder="Date" [(ngModel)]="startdate">
            </div>
            <div class="col-md-3 m-b-30">
                <h5>To</h5>
                <input type="date" id="dateDefault" class="form-control" placeholder="Date" [(ngModel)]="enddate">
            </div>
            <div class="col-md-3 m-b-30">
                <h5>...</h5>
                <button type="button" class="btn btn-outline-primary" (click)="get()">Show</button>
            </div>
        </div>

        <div class="text-center col s10" *ngIf="Spinner">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-hover">
                <thead *ngIf="!Spinner">
                    <tr class="text-center">
                        <th>#</th>
                        <th>name</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Subject</th>
                        <th>Message</th>
                </thead>
                <tbody *ngIf="!Spinner">
                    <tr *ngFor="let message of MessageList; let i = index" class="text-center">
                        <td>
                            {{message.ID}}</td>
                        <td>
                            {{message.name}}</td>
                        <td>
                            {{message.email}}</td>

                        <td>{{message.currentdate | date:'MM/dd/yyyy'}}</td>
                        <td>{{message.subject}}</td>
                        <td>{{message.message}}</td>
                    </tr>
                    <!-- (click)="openorderdetModa(order)" -->
                </tbody>
            </table>
        </div>
    </div>
</core-card>