<core-card (events)="emittedEvents($event)" [actions]="['collapse', 'expand', 'reload', 'close']" [reloadTime]="'1000'"
    *ngIf="!showeditmode">
    <h4 class="card-title">NewsLetter Templetes</h4>
    <div class="card-body">


        <div class="text-center col s10" *ngIf="Spinner">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success" (click)="addnewmode()">add new</button>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead *ngIf="!Spinner">
                        <tr class="text-center">
                            <th>#</th>
                            <th>Subject</th>
                            <th>SenderName</th>
                            <th>SenderEmail</th>
                            <th>Type</th>
                            <th>Send To All</th>
                            <th>Action</th>
                    </thead>
                    <tbody *ngIf="!Spinner">
                        <tr *ngFor="let news of newsletterlist; let i = index" class="text-center">
                            <td>
                                {{i+1}}</td>
                            <td>
                                {{news.Subject}}</td>
                            <td>
                                {{news.SenderName}}</td>

                            <td>{{news.SenderEmail}}</td>
                            <td>
                                {{gettype(news.typeId)}}</td>
                            <td>

                                <button type="submit" class="btn btn-primary" (click)="openMyModal(modalpass,news)"><i
                                        [data-feather]="'send'"></i></button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success" (click)="editmode(news)" style="margin-right: 5px;"><i
                                        [data-feather]="'edit'"></i></button>
                                <button type="submit" class="btn btn-danger" (click)="deletetemplete(news.ID,i)"><i
                                        [data-feather]="'trash'"></i></button>
                                <!-- <div [data-feather]="'edit'" style="cursor: pointer;" (click)="editmode(news)"></div>
                                <div [data-feather]="'trash'" style="cursor: pointer;"
                                    (click)="deletetemplete(news.ID,i)">
                                </div> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</core-card>

<ng-template #modalpass let-modal>
    <div class="modal-header">
        <h5 class="modal-title"> Enter Password
        </h5> <!-- <h4 class="modal-title">Scrolling long Content</h4> -->
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" tabindex="0" ngbAutofocus *ngIf="templetetosend!=null">
        <div class="row">
            <div class="col-sm-12 col-xl-12">
                <label>Email</label>
                <input type="text" class="form-control" [(ngModel)]="templetetosend.SenderEmail" disabled>
                <br>
            </div>
            <div class="col-sm-12 col-xl-12">
                <label>Password</label>
                <input type="password" class="form-control" [(ngModel)]="passwordemail">
                <br>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center col s10" *ngIf="spinnerSave">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <button type="button" *ngIf="!spinnerSave" class="btn btn-danger md-close"
            (click)="sendtoall(templetetosend.ID)">Send</button>
        <button type="button" class="btn btn-secondary md-close" (click)="modal.close('Accept click')">Close</button>
    </div>
</ng-template>
<core-card (events)="emittedEvents($event)" [actions]="['collapse', 'expand', 'reload', 'close']" [reloadTime]="'1000'"
    *ngIf="showeditmode">
    <h4 class="card-title">NewsLetter Templetes</h4>
    <div class="card-body">


        <div class="text-center col s10" *ngIf="Spinner">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success" (click)="addnewmode()">back</button>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xl-3">
                <label>Template type</label>
                <select class="form-control" id="basicSelect" [(ngModel)]="newsletter.typeId">
                    <option *ngFor="let a of typesoption" value="{{a.ID}}">{{a.type}}</option>
                </select>
                <!-- <ng-select [ngClass]="'ng-select'" [options]="typesoption" [(ngModel)]="newsletter.typeId">
                </ng-select> -->
            </div>
            <div class="col-sm-12 col-xl-3">
                <label>Template Subject</label>
                <input type="text" class="form-control" [(ngModel)]="newsletter.Subject">
            </div>
            <div class="col-sm-12 col-xl-3">
                <label>Sender Name</label>
                <input type="text" class="form-control" [(ngModel)]="newsletter.SenderName">
            </div>
            <div class="col-sm-12 col-xl-3">
                <label>Sender Email</label>
                <input type="text" class="form-control" [(ngModel)]="newsletter.SenderEmail">
            </div>
        </div>
        <br><br>
        <div *ngIf="!Spinner">
            <label>Content</label>
            <app-tinymce [(ngModel)]='newsletter.Content' #tinymce='tinymce'></app-tinymce>
            <div class="col-md-12 m-b-30" style="display: inline-block;">
                <label style="display: block;">add photo</label>
                <div class="imagePreview" style="display: inline-block; margin:5px">
                    <img src="../newsletter/{{newsletter.imagepath}}" alt="" height="50px">
                </div>
                <form [formGroup]="uploadForm" style="display: inline-block;padding-right: 5px;">
                    <!-- (ngSubmit)="submit()" -->
                    <!-- Select File -->
                    <input id="file" type="file" multiple class="form-control" accept="image/png"
                        (change)="onFileChange($event,in)">
                </form>
            </div>
            <div class="text-center m-t-20">
                <button class="btn btn-primary" (click)="save()" *ngIf="!proceessing">Save Change</button>
                <div class="text-center col s10" *ngIf="proceessing"><img class="center" width="50px" height="50px"
                        src="../../assets/images/loading.gif"></div>
            </div>
        </div>
    </div>
</core-card>