<core-card (events)="emittedEvents($event)" [actions]="['collapse', 'expand', 'reload', 'close']" [reloadTime]="'1000'"
    >
    <h4 class="card-title">Estimated Date</h4>
    <div class="card-body">


        <div class="text-center col s10" *ngIf="Spinner">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div *ngIf="!Spinner">
            <div class="row">
              <div class="col-sm-12 col-xl-1">
                <label>ID</label>
              </div>
              <div class="col-sm-12 col-xl-2">
                <label>English Name</label>
              </div>
              <div class="col-sm-12 col-xl-2">
                <label>Arabic Name</label>
              </div>
              <div class="col-sm-12 col-xl-2">
                <label>Estimated Date in Dayes</label>
              </div>
              <div class="col-sm-12 col-xl-2">
                <label>Discount Percentage %</label>
              </div>
              <div class="col-sm-12 col-xl-2">
                <label>isActiveForEcommerce</label>
              </div>
            </div>
            <div class="row" *ngFor="let store of stores;let i=index">
              <div class="col-sm-12 col-xl-1">
                <label></label>
                <input type="text" class="form-control" style="text-align: center;" [(ngModel)]="store.StoreID" disabled>
              </div>
              <div class="col-sm-12 col-xl-2">
                <label></label>
                <input type="text" class="form-control" style="text-align: center;" [(ngModel)]="store.StoreEnName" disabled>
              </div>
              <div class="col-sm-12 col-xl-2">
                <label></label>
                <input type="text" class="form-control" style="text-align: center;" [(ngModel)]="store.StoreArName" disabled>
              </div>
              <div class="col-sm-12 col-xl-2">
                <label></label>
                <input type="text" class="form-control" style="text-align: center;" [(ngModel)]="store.EstimatedDate">
              </div>
              <div class="col-sm-12 col-xl-2">
                <label></label>
                <input type="number" class="form-control" style="text-align: center;"
                  [(ngModel)]="store.ecommerceDiscountPercentage">
              </div>
              <div class="col-sm-12 col-xl-2">
                <label style="display: block;"></label>
                <div class="switch d-inline m-r-10 col-sm-12 col-xl-2">
                  <input type="checkbox" id="{{i}}" [(ngModel)]="store.isActiveForEcommerce">
                  <label for="{{i}}" class="cr"></label>
                </div>
              </div>
            </div>
            <br>
            <div class="col-sm-12 col-xl-7 col-md-7 text-center">
              <div class="text-center col-md-3" style="display: inline-block;" *ngIf="savestart">
                <img class="center" width="50px" height="50px" src="../../assets/images/loading.gif">
              </div>
              <button type="button" class="col-md-3 btn btn-primary" *ngIf="!savestart" (click)="savechanges()">Save
                Changes</button>
            </div>
          </div>
    </div>
</core-card>
